html, button, input, select, textarea {
    /* Set your content font stack here: */
    font-family: 'Raleway', Sans Serif;
    font-weight: 200;
    color: $font-color;
}

h1 {
	font-size: 3em;
	font-weight: 200;
	margin: 20px 0;
}
h1 > small {
	font-size: 60%;
}

p {
	font-size: 1.2em;
}