$active-border-color: rgba(90, 144, 220, 0.65);
$navbar-background-overlay: rgba(21, 21, 21, 0.90);

$navbar-height: 53px;


nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $navbar-height;
	transition: 0.5s ease background-color;
	z-index: 1000;

	&.pure-menu-horizontal .pure-menu-list {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	ul.pure-menu-list {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	.nav-mobile {
		display: none;
		padding: 1.25em 1.5em .5em 0;
		@media screen and (max-width: 767px) {
			display: inline-block;
		}
	}

	.nav-mobile-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		position: fixed;
		top: $navbar-height;
		width: 100%;
		height: 100%;
		background-color: $navbar-background-overlay;

		.nav-mobile-menu-item a {
			padding: 20px;
			display: inline-block;
			color: white;
			text-decoration: none;
		}
	}

	&.mobile-menu-expanded {
		background-color: $navbar-background-overlay;
	}

	&.overlay {
		background-color: $navbar-background-overlay;
		transition: 0.2s ease background-color;
		.pure-menu-link:hover:after {
			background: rgba(90, 144, 220, 1);
		}
		.pure-menu-item.active .pure-menu-link:after {
			background: rgba(90, 144, 220, 1);
		}
		.nav-mobile {
			padding: 0.5em 1.5em .5em 0;
		}

		.nav-mobile-menu {
			top: 53px;
		}
	}

	.brand {
		color: $font-color;
		display: block;
		text-decoration: none;
		white-space: nowrap;
		font-size: 18px;
		transition: 0.2s ease padding;
		font-weight: 400;
		padding: 1em 1em;
	}

	.pure-menu-item {
		font-weight: 400;
		font-size: 18px;
		cursor: pointer;
		background-color: transparent !important;
		height: auto;
		transition: 0.2s ease margin-top;
	}
	.pure-menu-link {
		color: $font-color;
		display: inline-block;
		background: none !important;
		padding: 1em 1em;
	}
	.pure-menu-link:after {
		content: '';
		display: block;
		bottom: 0;
		left: 50%;
		position: absolute;
		height: 3px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease, left .5s ease;
	}
	.pure-menu-link:hover:after {
		width: 100%;
		background: $active-border-color;
		left: 0;
	}
	.pure-menu-item.active .pure-menu-link:after {
		width: 100%;
		background: $active-border-color;
		left: 0;
	}
}