<nav class="pure-menu pure-menu-horizontal"
	ng-class="{'overlay' : ctrl.overlayNavbar,
		'mobile-menu-expanded' : ctrl.isMobileMenuShown}">
	<div class="container">
		<div class="row">
			<a href="#" class="brand">10,000 Reasons...</a>
			<div class="col-xs"></div>
		    <ul class="pure-menu-list">
		        <li class="pure-menu-item" ui-sref-active="active">
		        	<a class="pure-menu-link" ui-sref="app.home">
		        		Home
		        	</a>
		        </li>
		        <li class="pure-menu-item" ui-sref-active="active">
		        	<a class="pure-menu-link" ui-sref="app.share.submission">
		        		Share
		        	</a>
		        </li>
		        <li class="pure-menu-item" ui-sref-active="active">
		        	<a class="pure-menu-link" ui-sref="app.reasons">
		        		Reasons
		        	</a>
		        </li>
		        <li class="pure-menu-item" ui-sref-active="active">
		        	<a class="pure-menu-link">
		        		Map
		        	</a>
		        </li>
		    </ul>
		    <div class="nav-mobile">
			    <button type="button"
			    	class="tcon tcon-menu--xcross pure-menu-has-children pure-menu-allow-hover"
			    	aria-label="toggle menu" ng-click="ctrl.toggleMobileMenu()">
				  	<span class="tcon-menu__lines" aria-hidden="true"></span>
				 	<span class="tcon-visuallyhidden">toggle menu</span>
				</button>
		    </div>
		</div>
	</div>
	<ul class="nav-mobile-menu" ng-if="ctrl.isMobileMenuShown">
        <li class="nav-mobile-menu-item">
        	<a href="" ui-sref="app.share.submission">
        		Share
        	</a>
        </li>
        <li class="nav-mobile-menu-item">
        	<a href="" ui-sref="app.reasons">
        		Reasons
        	</a>
        </li>
	</ul>
</nav>