<main>
	<section class="container-lg-gutter home-content">
		<div>
			<img src="images/logo-no-contact.svg"
				class="she-writes-logo"
				ng-class="{'logo-visible' : home.fadeLogoIn}"
				style="height: 150px; width: auto; margin-bottom: 30px;">
			<div>
			</div>
			<div class="instagram-feed" class="row"
				ng-class="{'feed-visible' : home.fadeFeedIn}">
				<span ng-repeat="image in home.feed.data.items" class="col-md-4 col-xs-12"
					style="display: inline-block; margin-bottom: 30px; padding: 15px;">
					<img ng-src="{{image.images.standard_resolution.url}}" style="width: 100%; height: auto;">
				</span>
			</div>
		</div>
	</section>
</main>

