.home-content {
	text-align: center;
	color: $font-color;
	margin-top: 50px;

	p {
		font-size: 1.2em;
		font-weight: 200;
	}

	hr {
		border-width: 0 0 1px 0;
		border-color: white;
		width: 50px;
	}

	.btn {
		margin-top: 20px;
	}

	.she-writes-logo {
		opacity: 0;
		transition: opacity 2s ease;

		&.logo-visible {
			transition: opacity 2s ease;
			opacity: 1;
		}
	}

	.instagram-feed {
		opacity: 0;
		transition: opacity 2s ease;

		&.feed-visible {
			transition: opacity 2s ease;
			opacity: 1;
		}
	}
}

